In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('Dataset/pt_pathways-bow-v1.csv')
df.head()

,id,Hospital LOS,Mean HLOS,admission_disposition,age,sex,Std Dev,Hypertension,Chronic cardiac disease (not hypertension),N/A,...,affective,acoustic,neuroma,ear,drum,ercp,sept,antral,ulcers,ogd
0,1,21,1,1,74,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,5,0,1,61,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,7,0,1,58,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,9,0,1,94,1,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,9,0,1,91,1,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(508, 1165)

In [5]:
df.drop(['id', 'Hospital LOS', 'Std Dev'], axis = 1, inplace=True)

In [6]:
df.drop(['Mean HLOS.1', 'reason_for_admission_Atypical pneumonia [J18.9]', 'reason_for_admission_Fever of unknown origin [R50.9]','reason_for_admission_Hypoxic [R09.0]','reason_for_admission_Myalgia [M79.19]','reason_for_admission_Tachypnea [R06.8]', 'reason_for_admission_Viral pneumonia [J12.9]'], axis = 1, inplace=True)

In [7]:
df.shape

(508, 1155)

In [8]:
df.head()

,Mean HLOS,admission_disposition,age,sex,Hypertension,Chronic cardiac disease (not hypertension),N/A,Diabetes,History of cancer [now in remission],Other,...,affective,acoustic,neuroma,ear,drum,ercp,sept,antral,ulcers,ogd
0,1,1,74,1,1,0,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,61,0,1,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,58,0,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1,94,1,1,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1,91,1,1,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
X = df.drop(['Mean HLOS'], axis = 1)
y = df[['Mean HLOS']].values.flatten()

# Logistic

In [69]:
model = LogisticRegression(max_iter=1000)

In [100]:
# CV just for trainig
cv_score_lr = cross_val_score(model, X, y, cv = 10)

In [101]:
print(cv_score_lr)

[0.66666667 0.60784314 0.62745098 0.64705882 0.66666667 0.62745098
 0.62745098 0.54901961 0.66       0.68      ]

In [102]:
mean_cv_score_lr = np.mean(cv_score_lr) * 100
mean_cv_score_lr = round(mean_cv_score_lr, 2)
print(mean_cv_score_lr)

63.6

# SVM

In [103]:
from sklearn.svm import SVC

In [104]:
#Accuracy in test data
cv_score_svc = cross_val_score(SVC(kernel = 'linear'), X, y, cv = 10)

In [105]:
mean_cv_score_svc = np.mean(cv_score_svc) * 100
mean_cv_score_svc = round(mean_cv_score_svc, 2)
print(mean_cv_score_svc)

62.8

# Random Forest

In [110]:
from sklearn.ensemble import RandomForestClassifier

In [111]:
random = RandomForestClassifier()

In [112]:
cv_score_rfc = cross_val_score(random, X, y, cv = 10)

In [113]:
print(cv_score_rfc)

[0.60784314 0.56862745 0.68627451 0.64705882 0.66666667 0.62745098
 0.68627451 0.62745098 0.66       0.68      ]

In [114]:
mean_cv_score_rfc = np.mean(cv_score_rfc) * 100
mean_cv_score_rfc = round(mean_cv_score_rfc, 2)
print(mean_cv_score_rfc)

64.58