In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import os

from google.colab import drive
from pathlib import Path
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HMCPW/data/pt_pathways-tfidf-v2.csv')
df.head()

,id,Hospital LOS,Mean HLOS,admission_disposition,age,sex,Std Dev,Hypertension,Chronic cardiac disease (not hypertension),N/A,...,vascular,vein,venous,vertebral,vertigo,vessel,visual,vitamin,wall,years
0,1,21,1,1,74,1,1,1,0,1,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,2,5,0,1,61,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.454382,0.0,0.0,0.0,0.0,0.0
2,3,7,0,1,58,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,4,9,0,1,94,1,0,1,0,1,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,5,9,0,1,91,1,0,1,1,1,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.shape

(508, 490)

In [ ]:
df.drop(['id', 'Hospital LOS', 'Std Dev'], axis = 1, inplace = True)
df.drop(['Mean HLOS.1', 'reason_for_admission_Atypical pneumonia [J18.9]', 'reason_for_admission_Fever of unknown origin [R50.9]','reason_for_admission_Hypoxic [R09.0]','reason_for_admission_Myalgia [M79.19]','reason_for_admission_Tachypnea [R06.8]', 'reason_for_admission_Viral pneumonia [J12.9]'], axis = 1, inplace=True)

In [ ]:
df.shape

(508, 480)

In [ ]:
X = df.drop(['Mean HLOS'], axis = 1)
y = df[['Mean HLOS']].values.flatten()

# Logistic

In [ ]:
model = LogisticRegression(max_iter=1000)

In [ ]:
# CV just for trainig
cv_score_lr = cross_val_score(model, X, y, cv = 10)

In [ ]:
print(cv_score_lr)

[0.63636364 0.45454545 0.54545455 0.63636364 0.63636364 0.72727273
 0.54545455 0.63636364 0.6        0.8        0.5        0.9
 0.7        0.7        0.8        0.9        0.5        0.9
 0.7        0.6        0.7        0.5        0.9        0.7
 0.6        0.7        0.3        0.7        0.7        0.7
 0.6        0.5        0.5        0.5        0.7        0.5
 0.6        0.6        0.7        0.6        0.7        0.8
 0.3        0.8        0.7        0.8        0.6        0.7
 0.8        0.7       ]

In [ ]:
mean_cv_score_lr = sum(cv_score_lr)/len(cv_score_lr)
mean_cv_score_lr = mean_cv_score_lr*100
mean_cv_score_lr = round(mean_cv_score_lr, 2)
print(mean_cv_score_lr)

65.24

# SVM Classifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
#Accuracy in test data
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, y, cv = 10)

In [ ]:
mean_cv_score_svc = sum(cv_score_svc)/len(cv_score_svc)
mean_cv_score_svc = mean_cv_score_svc*100
mean_cv_score_svc = round(mean_cv_score_svc, 2)
print(mean_cv_score_svc)

66.4

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
random = RandomForestClassifier()

In [ ]:
cv_score_rfc = cross_val_score(random, X, y, cv = 50)

In [ ]:
print(cv_score_rfc)

[0.54545455 0.45454545 0.45454545 0.72727273 0.45454545 0.45454545
 0.63636364 0.72727273 0.6        0.7        0.7        0.8
 0.8        0.7        0.6        0.8        0.7        0.8
 0.6        0.6        0.7        0.7        0.6        0.8
 0.7        0.8        0.7        0.7        0.8        0.6
 0.7        0.7        0.6        0.7        0.8        0.6
 0.6        0.5        0.7        0.8        0.7        0.7
 0.4        0.7        0.7        0.6        0.6        0.7
 0.7        0.6       ]

In [ ]:
mean_cv_score_rfc = sum(cv_score_rfc)/len(cv_score_rfc)
mean_cv_score_rfc = mean_cv_score_rfc*100
mean_cv_score_rfc = round(mean_cv_score_rfc, 2)
print(mean_cv_score_rfc)

66.11