### This is the first experiment where we will be implementing the RNN

In [195]:
import pandas as pd
import numpy as np

In [215]:
xls = pd.ExcelFile('PhyAdRsnComorbMed.xlsx')
df1 = pd.read_excel(xls, 'Hospital-length-of-stay')
df2 = pd.read_excel(xls, 'Days-breakdown')

In [216]:
df1 = df1[df1['did_the_patient_expire_in_hospital']=='No'][['parent_id','hospital_length_of_stay']]
df1

     parent_id  hospital_length_of_stay
1            2                        5
2            3                        7
5            6                       32
6            7                        4
7            8                       10
..         ...                      ...
502        516                       13
504        519                        9
505        521                        7
506        522                        5
507         12                        9

[418 rows x 2 columns]

In [217]:
df = df2.merge(df1, how='inner', on='parent_id')
df.head(20)

,id,parent_id,day,systolic_blood_pressure,diastolic_blood_pressure,heart_rate,respiratory_rate,oxygen_saturation,temperature,highest_mean_arterial_pressure,...,chest_x_ray,cxr_findings,chest_ct,chest_ct_findings,head_ct,head_ct_findings,antimicrobial,anticoagulation,steroid,hospital_length_of_stay
0,9,2,1,122.0,80.0,72.0,24.0,92.0,36.3,NaN,...,No,"""[\""Bilateral Ground Glass\"",\""Bilateral Conso...",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
1,10,2,2,114.0,72.0,60.0,18.0,92.0,35.9,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
2,11,2,3,117.0,73.0,62.0,16.0,95.0,36.0,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
3,12,2,4,125.0,76.0,76.0,18.0,97.0,36.3,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
4,13,2,5,133.0,85.0,73.0,20.0,94.0,36.7,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
5,14,2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
6,15,2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
7,16,2,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
8,17,3,1,112.0,69.0,66.0,18.0,96.0,36.5,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
9,18,3,2,150.0,93.0,67.0,19.0,93.0,36.1,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
10,19,3,3,145.0,86.0,59.0,18.0,93.0,36.6,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
11,20,3,4,136.0,90.0,64.0,20.0,94.0,36.6,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
12,21,3,5,122.0,81.0,63.0,18.0,95.0,36.7,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
13,22,3,6,146.0,87.0,94.0,18.0,95.0,36.6,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
14,23,3,7,149.0,96.0,74.0,18.0,93.0,36.4,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
15,24,3,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,7
16,41,6,1,127.0,76.0,68.0,19.0,95.0,36.6,92.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
17,42,6,2,97.0,60.0,68.0,22.0,98.0,36.4,71.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
18,43,6,3,140.0,68.0,72.0,22.0,99.0,36.5,84.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
19,44,6,4,108.0,63.0,98.0,22.0,95.0,36.5,77.0,...,Yes,"""[\""Effusion\"",\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32

### Handling null values

### Initially we will handle the null values for the columns which cant have null as the value for their respctive columns systolic_blood_pressure	,diastolic_blood_pressure, heart_rate, respiratory_rate, oxygen_saturation	and temperature
We will enter the mean for their respective ids

In [218]:
def enter_mean_values(df,column_name):
    for index,value in df[['parent_id',column_name]].iterrows():
       if pd.isna(value[1]):
            mean = df[df['parent_id']==value[0]][column_name].mean()
            df.loc[index, column_name] = mean

In [219]:
# List of columns you want to apply the function to
apply_mean_value = ['systolic_blood_pressure', 'diastolic_blood_pressure',
                    'heart_rate', 'respiratory_rate', 'oxygen_saturation', 'temperature',
                   'highest_heart_rate','lowest_heart_rate','highest_gcs','lowest_gcs']

for columns in apply_mean_value:
    enter_mean_values(df,columns)

In [222]:
df.head(50)

,id,parent_id,day,systolic_blood_pressure,diastolic_blood_pressure,heart_rate,respiratory_rate,oxygen_saturation,temperature,highest_mean_arterial_pressure,...,chest_x_ray,cxr_findings,chest_ct,chest_ct_findings,head_ct,head_ct_findings,antimicrobial,anticoagulation,steroid,hospital_length_of_stay
0,9,2,1,122.000000,80.000000,72.000000,24.000000,92.000000,36.300000,NaN,...,No,"""[\""Bilateral Ground Glass\"",\""Bilateral Conso...",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
1,10,2,2,114.000000,72.000000,60.000000,18.000000,92.000000,35.900000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
2,11,2,3,117.000000,73.000000,62.000000,16.000000,95.000000,36.000000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
3,12,2,4,125.000000,76.000000,76.000000,18.000000,97.000000,36.300000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,5
4,13,2,5,133.000000,85.000000,73.000000,20.000000,94.000000,36.700000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
5,14,2,6,122.200000,77.200000,68.600000,19.200000,94.000000,36.240000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
6,15,2,7,122.200000,77.200000,68.600000,19.200000,94.000000,36.240000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
7,16,2,14,122.200000,77.200000,68.600000,19.200000,94.000000,36.240000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,5
8,17,3,1,112.000000,69.000000,66.000000,18.000000,96.000000,36.500000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
9,18,3,2,150.000000,93.000000,67.000000,19.000000,93.000000,36.100000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
10,19,3,3,145.000000,86.000000,59.000000,18.000000,93.000000,36.600000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
11,20,3,4,136.000000,90.000000,64.000000,20.000000,94.000000,36.600000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
12,21,3,5,122.000000,81.000000,63.000000,18.000000,95.000000,36.700000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
13,22,3,6,146.000000,87.000000,94.000000,18.000000,95.000000,36.600000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
14,23,3,7,149.000000,96.000000,74.000000,18.000000,93.000000,36.400000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,7
15,24,3,14,137.142857,86.000000,69.571429,18.428571,94.142857,36.500000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,7
16,41,6,1,127.000000,76.000000,68.000000,19.000000,95.000000,36.600000,92.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
17,42,6,2,97.000000,60.000000,68.000000,22.000000,98.000000,36.400000,71.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
18,43,6,3,140.000000,68.000000,72.000000,22.000000,99.000000,36.500000,84.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
19,44,6,4,108.000000,63.000000,98.000000,22.000000,95.000000,36.500000,77.0,...,Yes,"""[\""Effusion\"",\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
20,45,6,5,126.000000,77.000000,68.000000,24.000000,98.000000,36.500000,92.0,...,Yes,"""[\""Bilateral Consolidation\""]""",Yes,"""[\""Bilateral Ground Glass Opacities\"",\""Bilat...",No,"""[]""",Yes,Yes,Yes,32
21,46,6,6,120.000000,82.000000,76.000000,24.000000,93.000000,36.600000,93.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,32
22,47,6,7,128.000000,62.000000,73.000000,26.000000,93.000000,36.800000,93.0,...,Yes,"""[\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,32
23,48,6,14,116.000000,74.000000,82.000000,20.000000,96.000000,37.600000,86.0,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,No,32
24,49,7,1,145.000000,86.000000,94.000000,20.000000,97.000000,37.200000,NaN,...,No,"""[\""Unilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,No,4
25,50,7,2,122.000000,73.000000,71.000000,18.000000,97.000000,36.400000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,No,4
26,51,7,3,122.000000,80.000000,84.000000,18.000000,97.000000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,No,4
27,52,7,4,118.000000,85.000000,94.000000,20.000000,95.000000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,No,4
28,53,7,5,126.750000,81.000000,85.750000,19.000000,96.500000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
29,54,7,6,126.750000,81.000000,85.750000,19.000000,96.500000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
30,55,7,7,126.750000,81.000000,85.750000,19.000000,96.500000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
31,56,7,14,126.750000,81.000000,85.750000,19.000000,96.500000,36.800000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
32,57,8,1,115.000000,68.000000,86.000000,35.000000,91.000000,36.900000,106.0,...,No,"""[\""Effusion\"",\""Bilateral Consolidation\""]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,10
33,58,8,2,122.000000,70.000000,103.000000,28.000000,90.000000,36.400000,105.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
34,59,8,3,129.000000,79.000000,96.000000,17.000000,93.000000,36.700000,103.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
35,60,8,4,166.000000,91.000000,70.000000,17.000000,90.000000,36.700000,122.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
36,61,8,5,176.000000,79.000000,83.000000,19.000000,93.000000,36.500000,126.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
37,62,8,6,111.000000,90.000000,88.000000,20.000000,100.000000,36.400000,95.0,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
38,63,8,7,98.000000,72.000000,85.000000,18.000000,93.000000,36.400000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,Yes,10
39,64,8,14,131.000000,78.428571,87.285714,22.000000,92.857143,36.571429,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,10
40,81,11,2,121.000000,66.000000,92.000000,20.000000,95.000000,37.300000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,4
41,82,11,3,120.000000,70.000000,70.000000,17.000000,93.000000,36.500000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,4
42,83,11,4,119.000000,72.000000,59.000000,18.000000,95.000000,36.200000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,4
43,84,11,7,121.500000,71.500000,75.000000,18.250000,94.250000,36.650000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
44,85,11,6,121.500000,71.500000,75.000000,18.250000,94.250000,36.650000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
45,86,11,1,126.000000,78.000000,79.000000,18.000000,94.000000,36.600000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",Yes,Yes,Yes,4
46,87,11,5,121.500000,71.500000,75.000000,18.250000,94.250000,36.650000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
47,88,11,14,121.500000,71.500000,75.000000,18.250000,94.250000,36.650000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,No,No,4
48,89,13,1,132.000000,79.000000,63.000000,16.000000,95.000000,37.000000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,No,8
49,90,13,2,119.000000,66.000000,54.000000,18.000000,93.000000,37.600000,NaN,...,No,"""[]""",No,"""[]""",No,"""[]""",No,Yes,No,8