In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn import metrics

import os
from google.colab import drive
from pathlib import Path
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HMCPW/data/pt_pathways-w2v-top200-v1.csv')

In [ ]:
df.shape

(508, 254)

In [ ]:
df.head()

,id,Hospital LOS,Mean HLOS,admission_disposition,age,sex,Std Dev,Hypertension,Chronic cardiac disease (not hypertension),N/A,...,hypocholesteremia,bronchitis,ischemic,sinusitis,eye,arthroplasty,carcinoma,nephropathy,syncope,cholesterol
0,1,21,1,1,74,1,1,1,0,1,...,-0.608767,-0.455254,-0.777694,-0.679012,-0.688976,-0.836226,-0.584153,-0.657582,-0.642037,-0.945593
1,2,5,0,1,61,0,0,1,0,1,...,0.291599,0.460366,0.602479,0.694491,0.585712,0.765486,0.723863,0.625036,0.848367,-0.070907
2,3,7,0,1,58,0,0,1,0,1,...,1.154339,1.140940,1.137694,1.416582,1.151307,1.127899,1.298754,1.006759,1.208086,-0.587492
3,4,9,0,1,94,1,0,1,0,1,...,0.293452,0.350910,0.714539,0.628227,0.653386,0.962031,0.902187,0.961290,1.108696,0.863767
4,5,9,0,1,91,1,0,1,1,1,...,-0.110882,-0.280716,-0.346717,-0.038715,-0.208690,0.006369,-0.082120,0.008698,0.027187,-1.669720

In [ ]:
X = df.drop(['id', 'Hospital LOS', 'Mean HLOS', 'Std Dev'], axis = 1)

In [ ]:
df = df.drop(['Mean HLOS.1', 'reason_for_admission_Atypical pneumonia [J18.9]', 'reason_for_admission_Fever of unknown origin [R50.9]','reason_for_admission_Hypoxic [R09.0]','reason_for_admission_Myalgia [M79.19]','reason_for_admission_Tachypnea [R06.8]', 'reason_for_admission_Viral pneumonia [J12.9]'], axis = 1)

In [ ]:
df.shape

(508, 247)

In [ ]:
y = df[['Hospital LOS']]

In [ ]:
X

,admission_disposition,age,sex,Hypertension,Chronic cardiac disease (not hypertension),N/A,Diabetes,History of cancer [now in remission],Other,Kidney disease,...,hypocholesteremia,bronchitis,ischemic,sinusitis,eye,arthroplasty,carcinoma,nephropathy,syncope,cholesterol
0,1,74,1,1,0,1,1,0,1,0,...,-0.608767,-0.455254,-0.777694,-0.679012,-0.688976,-0.836226,-0.584153,-0.657582,-0.642037,-0.945593
1,1,61,0,1,0,1,0,0,1,0,...,0.291599,0.460366,0.602479,0.694491,0.585712,0.765486,0.723863,0.625036,0.848367,-0.070907
2,1,58,0,1,0,1,0,0,0,0,...,1.154339,1.140940,1.137694,1.416582,1.151307,1.127899,1.298754,1.006759,1.208086,-0.587492
3,1,94,1,1,0,1,0,0,1,0,...,0.293452,0.350910,0.714539,0.628227,0.653386,0.962031,0.902187,0.961290,1.108696,0.863767
4,1,91,1,1,1,1,1,0,1,0,...,-0.110882,-0.280716,-0.346717,-0.038715,-0.208690,0.006369,-0.082120,0.008698,0.027187,-1.669720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,1,74,0,0,0,1,0,0,1,0,...,-0.943641,-1.070204,-1.097203,-0.936481,-0.909164,-0.760367,-0.815774,-0.532641,-0.666101,0.331116
504,1,81,1,1,0,1,1,0,1,0,...,-0.065708,-0.147289,-0.339156,-0.376654,-0.392597,-0.489151,-0.504224,-0.469547,-0.609787,0.336431
505,1,74,1,1,0,1,0,0,1,0,...,-0.333385,-0.283479,-0.262611,-0.185571,-0.235554,-0.359282,-0.229991,-0.224896,-0.370747,0.996076
506,1,48,0,0,0,1,0,0,0,0,...,-0.564160,-0.591474,-0.769318,-0.744085,-0.646460,-0.849264,-0.771065,-0.614668,-0.748871,-0.783317
507,1,73,1,0,0,1,0,0,0,0,...,-0.524788,-0.293471,-0.364817,-0.372185,-0.226680,-0.179958,-0.186778,0.029016,-0.132643,-0.850836

In [ ]:
y

     Hospital LOS
0              21
1               5
2               7
3               9
4               9
..            ...
503            13
504            19
505             9
506             7
507             5

[508 rows x 1 columns]

# Model Training

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42, shuffle = True) # did not use stratify as this is not a classification problem

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape)

(381, 250) (127, 250) (381, 1)

In [ ]:
regressor = LinearRegression()

In [ ]:
X_pred = regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
print(y_pred)

[[ 30.03260415]
 [ 39.05732496]
 [  9.48959297]
 [  6.79427224]
 [  3.88648618]
 [  1.47849673]
 [ 14.63683418]
 [ 20.48047143]
 [  8.65537616]
 [-13.67246184]
 [ 36.34266743]
 [ 48.67286764]
 [ 13.48300938]
 [  2.32653617]
 [ 14.72141146]
 [ -1.39102318]
 [ 23.43427034]
 [  3.10948556]
 [ 29.02178281]
 [  7.72885384]
 [ 22.12678848]
 [ 23.32316386]
 [ -0.46807432]
 [ 16.47725227]
 [ 32.67154725]
 [ 33.22493205]
 [ -2.21136743]
 [  3.88247451]
 [ 21.07755006]
 [ 22.76123202]
 [ 28.68756603]
 [-15.65590053]
 [-13.70785608]
 [ 37.82317404]
 [ 21.79324412]
 [ 41.22087866]
 [  4.21133147]
 [  3.27153922]
 [ 32.49466225]
 [-10.47237232]
 [ 17.32239592]
 [ 49.45238778]
 [ -4.38370735]
 [ 13.91479423]
 [ 17.62398057]
 [-10.33098514]
 [ -3.87595481]
 [ 34.67148657]
 [ 19.12615284]
 [ 11.0626863 ]
 [ 13.31721739]
 [ 20.13311464]
 [ -3.17613619]
 [  6.14531422]
 [ 11.94596419]
 [ 10.02301987]
 [ 27.45092148]
 [ 33.94252514]
 [ 29.25072226]
 [ 37.75902844]
 [ 12.34482612]
 [  4.09858548]
 [ 12.40051628]
 [ 36.05979502]
 [ 20.09104034]
 [ 21.6780391 ]
 [  3.36552228]
 [  4.64024905]
 [  3.57141317]
 [ 23.47154527]
 [ 20.07890507]
 [ 15.58189408]
 [  6.34035396]
 [ 33.18539582]
 [ 26.79525145]
 [  8.8798963 ]
 [ 32.61776475]
 [ -5.31874363]
 [  2.03575388]
 [  7.302877  ]
 [  6.30587093]
 [  5.95430833]
 [ 25.09740704]
 [ 18.37769763]
 [  2.70218599]
 [ 25.02967589]
 [ -0.18035896]
 [  3.23344447]
 [ 30.63017181]
 [ -9.65800239]
 [ 12.87330257]
 [ -5.66840397]
 [ 34.49413816]
 [ 22.61892122]
 [ 14.65023412]
 [  3.14690838]
 [ 36.34887226]
 [  2.55502752]
 [-14.55277134]
 [ 18.42373334]
 [ -3.05042486]
 [-13.38904848]
 [  7.69001441]
 [ 27.86999132]
 [ 20.73963372]
 [ 21.85409374]
 [ -9.89940751]
 [ -4.91871663]
 [ 18.19361457]
 [ 27.94650933]
 [ 16.29426792]
 [ 11.8793357 ]
 [  5.58049162]
 [-21.32062348]
 [ 18.19823494]
 [  9.86895668]
 [  3.68215555]
 [-14.27496175]
 [ 15.23834313]
 [  3.54113064]
 [  8.47051357]
 [ 30.755419  ]
 [ 16.90294004]
 [ 19.95544112]
 [ 12.94937594]
 [ 24.39755462]
 [  2.39505295]]

In [ ]:
r2_test_error = metrics.r2_score(y_test, y_pred)
print('R squared error for testing data:', r2_test_error)

R squared error for testing data: -0.4797629169203601

In [ ]:
from scipy.stats import linregress
import math
from sklearn.metrics import mean_squared_error
import statistics

In [ ]:
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
print(rmse)
print(mse)

13.264104267101311
175.93646200853522